{% extends "app001_projectManagement/T000_Base.html" %}
<!-- <html-->
    <!-- <header> -->
        {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/projectmanagement.css' %}">
        {% endblock head %}
    <!-- </header> -->
    <!-- <body> -->
        {% block header %}
            <h1>システムエラー</h1>
        {% endblock header %}
        {% block content %}
            <h1>操作に失敗しました。しばらく経ってからもう一度お試しください。</h1>
        {% endblock content %}
    <!-- </body>>-->
<!-- </html>-->