{% extends "teachersapp/T000_Base.html" %}

{% block head %}
<script>
    //ユーザ登録
    function userTork() {
        document.getElementById('form').action = "{% url 'teachersapp:signUp' %}";
        document.getElementById('form').submit();
    }
</script>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row gx-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="p-3 mb-2 bg-light text-dark">
                <br>
                <h2>サインアップ</h2>
                <br>
                <form id='form' name='form' method="post" action="{% url 'teachersapp:signUp' %}">{% csrf_token %}
                    <div class="form-group">
                        <label>表示名</label>
                        <input type="text" id="userName" name="userName" class="form-control" placeholder="山本しゅんろー"
                            value="{{userName}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>メールアドレス</label>
                        <input type="email" id="mailAddress" name="mailAddress" class="form-control"
                            placeholder="#tsunekawa.h@jp.snro.com" value="{{mailAddress}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>ログインID</label>
                        <input type="text" id="loginID" name="loginID" class="form-control" placeholder="#Y.Snro"
                            value="{{loginID}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>ログインパスワード</label>
                        <input type="text" id="loginPass" name="loginPass" class="form-control" placeholder="#I@maSnro">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>ログインパスワード(確認用)</label>
                        <input type="text" id="loginPass_conf" name="loginPass_conf" class="form-control"
                            placeholder="確認用">
                    </div>
                    <br>
                    <hr>
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <button type="button" onclick="userTork();" class="btn btn-success btn-block">新規登録</button>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-muted btn-block" href="{% url 'teachersapp:topPage' %}">キャンセル</a>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
</div>
{% endblock content %}